tap "boz/repo"
tap "fluxcd/tap"
tap "go-task/tap"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/core"
tap "homebrew/services"
tap "koekeishiya/formulae"
brew "ansible"
brew "awscli"
brew "bat"
brew "chezmoi"
brew "exa"
brew "fd"
brew "fish"
brew "fnm"
brew "fzf"
brew "gh"
brew "git-delta"
brew "glib"
brew "glow"
brew "unbound"
brew "gnutls"
brew "gnupg"
brew "go"
brew "helm"
brew "hugo"
brew "ipcalc"
brew "jq"
brew "kubebuilder"
brew "kubernetes-cli"
brew "kubectx"
brew "lnav"
brew "mercurial"
brew "minikube"
brew "neovim"
brew "nghttp2"
brew "nmap"
brew "openssh"
brew "pinentry-mac"
brew "pipx"
brew "pre-commit"
brew "pyenv"
brew "qemu"
brew "ripgrep"
brew "rustup-init"
brew "skaffold"
brew "sops"
brew "starship"
brew "tealdeer"
brew "terraform"
brew "watch"
brew "yamllint"
brew "ykman"
brew "yubico-piv-tool"
brew "zoxide"
brew "fluxcd/tap/flux"
brew "go-task/tap/go-task"
brew "koekeishiya/formulae/skhd"
brew "koekeishiya/formulae/yabai", args: ["HEAD"]
{{- if eq .chezmoi.hostname "0xDEADBEEF"}}
brew "spotify-tui"
brew "spotifyd", restart_service: true
cask "spotify"
cask "steam"
brew "pulumi"
cask "discord"
{{- end}}
cask "docker"
cask "firefox"
cask "font-hack-nerd-font"
cask "iterm2"
cask "obsidian"
cask "yubico-authenticator"
cask "yubico-yubikey-manager"
